<!DOCTYPE html>
<html class="basic" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>About | Harshal Soni</title>

    <!-- Behavioral Meta Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Core Meta Data -->
    <meta name="author" content="Harshal-Soni">
    <meta name="description" content="Harshal Soni. Machine Learning Developer">
    <meta name="keywords" content="Harshal, Soni, ML, AI, Data Science">
    <meta property="og:url" content="https://www.sublimeforest.com/">
    <meta property="og:image" content="static/images/basic/logo/logo.png">
    <link rel="mask-icon" href="static/images/basic/logo/logo.png">
    <meta property="og:type" content="website">
    <link href="static/stylesheets/headline.css" rel="stylesheet"/>
    <meta name="theme-color" content="#00C66B">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">

    <link href="static/stylesheets/basic.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/stylesheets/main.css">

    <script src="static/modal/js/modernizr.js"></script> <!-- Modernizr -->

    <style media="screen">
      #section3 a{
        font-size: small;
        color: deepskyblue;
        padding-top: 0px;
        margin-top: 0px;
      }

    </style>

</head>

<body>
    <header>
<menu-desktop pathname="/">
<nav class="menu-desktop menu-desktop--initialized">
    <div class="menu-desktop__inner">
        <div class="menu-desktop__pill menu-desktop__pill--active" style="left: 120.891px; width: 131.211px;"></div>
        <ul class="menu-desktop__items">
                        <li class="menu-desktop__item "><a href="https://www.sublimeforest.com/">Home</a></li>
						<li class="menu-desktop__item menu-desktop__pill--active"><a href="https://www.sublimeforest.com/about">About</a></li>
                        <li class="menu-desktop__item "><a href="https://www.sublimeforest.com/research">Research</a></li>
						<li class="menu-desktop__item "><a href="https://www.sublimeforest.com/playground">Playground</a></li>
            <li>
            <details class="details-reset">
                    <summary><span>Contact</span></summary>
                    <div class="menu-desktop__submenu-container">
                        <ul class="menu-desktop__submenu list-reset">
                            <li><a href="mailto:arcadiahms@gmail.com">Email</a></li>
                            <li><a href="https://www.linkedin.com/in/soni0909/">Linkedin</a></li>
                            <li><a href="https://www.researchgate.net/profile/Harshal-Soni">ResearchGate</a></li>
                        </ul>
                    </div>
            </details>
            </li>
        </ul>
    </div>
</nav>
</menu-desktop>
        </header>
    <!-- Main Content -->
    <main>
        <!-- Hero -->
        <section id="hero" class="hero">
            <div class="hero-content">
                <div class="hero-header">
                    <div class="-logo">
                        <p style="font-weight: bold">Machine Learning | Data Science</p>
                    </div>

                    <!--social media-->
                    <div class="-cta">
                        <a href="https://www.linkedin.com/in/soni0909/"><i data-feather="linkedin"></i></a>
                        <a href="https://github.com/harshalsonioo1/"><i data-feather="github"></i></a>
                        <a href="https://www.researchgate.net/profile/Harshal-Soni"><i data-feather="award"></i></a>
                        <a href="mailto:arcadiahms@gmail.com"><i data-feather="mail"></i></a>
                    </div>
                </div>

                <div class="hero-banner">
                    <h1>Hi!</h1>
                    <p class="sub-title">I am Harshal. I speak Python, Scala, and English !</p>

                    <div class="-cta">
                        <a href="#section1"> <i data-feather="arrow-down"></i>
                        </a>
                    </div>
                </div>
                <div class="hero-footer" style="padding-bottom: 100px">
                    <div class="-counter">

                    </div>

                </div>
            </div>
        </section>


        <!-- Highlights -->
        <section id="section1" class="highlights styled">
            <hr>
            <div class="highlights-header">
                <h6>About me</h6>
                <h2>I Love Snow.</h2>
                <!-- Gallery -->
                <div class="gallery text-left">
                    <div class="gallery-grid">
                        <div class="-image columns large-4 large-offset-1 medium-6 small-12">
                            <a class="lightbox--js" href="static/images/basic/gallery/profilepic.jpg">
                                <img src="static/images/basic/gallery/profilepic.jpg" alt="Item 1" />
                            </a>
                        </div>
                        <div class="-content columns large-6 medium-6 small-12">
                            <p style="text-align: left;">
                            Currently in Edmonton, Alberta. My dream is to run a quarter marathon in some of the coldest places on the planet. I love rock climbing and yoga.
                            <br>
                            <br>
                            Interested in my resume?<a href="static/pdf/resume.pdf" target="_blank" style="color:deepskyblue;"> Get it here.</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>



    </main>

    <!-- Footer -->
    <footer class="footer styled">
        <div class="footer-content">
            <!--social media-->
            <div class="-cta">

                <a href="https://www.linkedin.com/in/soni0909/"><i data-feather="linkedin"></i></a>

                <a href="https://github.com/harshalsonioo1/"><i data-feather="github"></i></a>

                <a href="https://www.researchgate.net/profile/Harshal-Soni"><i data-feather="award"></i></a>

                <a href="mailto:arcadiahms@gmail.com"><i data-feather="mail"></i></a>

            </div>

            <p class="-copyright">
                <small>© <time datetime="2020">2020</time> All rights reserved by Harshal Soni.</small>
            </p>
        </div>
    </footer>


    <!-- Javascript -->
    <script src="static/javascripts/client.js"></script>
    <script src="static/javascripts/libraries/jquery.js"></script>
    <script src="static/javascripts/libraries/threejs.js"></script>
    <script src="static/javascripts/libraries/projector.js"></script>
    <script src="static/javascripts/libraries/canvasrenderer.js"></script>
    <script src="static/javascripts/plugins/feather.js"></script>
    <script src="static/javascripts/plugins/imagesloaded.js"></script>
    <script src="static/javascripts/plugins/jquery-countdown.js"></script>
    <script src="static/javascripts/plugins/jquery-scrollto.js"></script>
    <script src="static/javascripts/plugins/jquery-localscroll.js"></script>
    <script src="static/javascripts/plugins/packery.js"></script>
    <script src="static/javascripts/plugins/magnific-popup.js"></script>
    <script src="static/javascripts/plugins/slick-carousel.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="static/javascripts/main.js"></script>
    <script src="static/javascripts/basic.js"></script>
    <script src="static/modal/js/velocity.min.js"></script>
    <script async src="static/javascripts/3d/field.js"></script>
</body>

</html>
